<%= form_for(@talk) do |f| %>
<%= render 'layouts/errors' %><br>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :topic %>
    <%= f.text_field :topic %>
  </p>
  <p>
    <%= f.label :speaker %>
    <%= f.text_field :speaker %>
  </p>
  <p>
    <%= f.label :speaker_profile %>
    <%= f.text_area :speaker_profile %>
  </p>
  <p>
    <%= f.label :date %>
    <%= f.datetime_select :date %>
  </p>
  <p>
    <%= f.label :capacity %>
    <%= f.number_field :capacity %>
  </p>
  <%= f.submit %>
<% end %>
