<div style="background:transparent !important", class="jumbotron jumbotron-fluid centered">
  <div class="container">
    <h1>Candid conversations with those who've been there, coded that, and learned something new along the way.<span class="blinking-cursor">|</span></h1>
  </div>
</div>
<div class='container'>
  <h1 class='centered'><%= pluralize(@talks.count, 'upcoming live talk') %></h1>

  <% @talks.each do |t| %>
    <div class="row">
      <div class="col-md-4 col-md-push-9">
        <img class='speaker-picture', src="http://placehold.it/150x150">
      </div>
      <div class="col-md-7 col-md-pull-3">
        <h3><%=link_to(t.title, t) %>
          <% if t.sold_out? %>
            <p class='label label-pill label-danger'>Talk is sold out!</p>
          <% else %>
            <%= link_to("Registration now open!", new_talk_registration_path(t), class: 'label label-pill label-success') %>
          <% end %>
        <h5>a conversation with <%= t.speaker %></h5>
        <p class='lead text-muted'><%= truncate(t.topic, :length => 100, separator: ' ') %></p>
        <h4>Date and time: <%= t.date %> (<%= pluralize(t.spots_left, 'available spot')%> left)</h4>
      </div>
    </div>
  <% end %>
</div>
<%= link_to('Add a new talk', new_talk_path) %>
