<h1>Displaying <%= pluralize(@talks.count, 'talk') %></h1>

<% @talks.each do |t| %>
  <h2><%=link_to(t.title, t) %></h2>
  <h3>a conversation with <%= t.speaker %></h3>
  <h3><%= truncate(t.speaker_profile, :length => 100, separator: ' ') %></h3>
  <h4><%= t.date %></h4>
<% end %>
