<div class='container'>
  <h1><%= @talk.title %><span class="blinking-cursor">|</span></h1>
  <span><p class='text-muted lead'><%= @talk.topic %></p><h3><%= display_registration_for(@talk) %></h3></span>
  <img src="http://placehold.it/950x550">
  <h4>About the speaker: </h4>
  <p><%= @talk.speaker_profile %></p>

  <% if current_user %>
    <% if @current_upvote %>
      <h3><%= button_to "Mark this video as unhelpful", talk_like_path(@talk, @current_upvote), class: 'btn btn-danger', method: :delete %></h3>
    <% else %>
      <h3><%= button_to "Mark this video as helpful", talk_likes_path(@talk), class: 'btn btn-success' %></h3>
    <% end %>
  <% end %>
  <p><em>(<%= pluralize(@likers.size, 'member') %> found this video helpful so far)</em></p>

  <% if current_user_admin? %>
    <p class='lead'><%= link_to("View registrations", talk_registrations_path(@talk)) %> <em>(<%= @talk.registrations.count %>)</em></p>
    <%= link_to('Edit this talk', edit_talk_path) %> |
    <%= link_to('Remove this talk', talk_path, method: :delete, data: { confirm: 'Are you sure you want to remove this talk from the site? Note: this is a permanent action. Click \'OK\' to confirm or \'Cancel\' to go back.'}) %> |
  <% end %>
</div>
