<%= form_for(@user) do |f| %>
<%= render 'layouts/errors', object: @user %><br>
  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email_address %>
    <%= f.text_field :email_address %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm your password" %>
    <%= f.password_field :password_confirmation %>
  </p>
  <% if @user.new_record? %>
    <%= f.submit "Get in there, tiger", class: 'btn btn-md btn-secondary' %>
  <% else %>
    <%= f.submit "Update your account", class: 'btn btn-md btn-secondary' %>
  <% end %>
<% end %>
