<div class='container'>
  <h1><%= "#{@user.first_name} #{@user.last_name}"%><span class="blinking-cursor">|</span></h1>
  <%= profile_image_for(@user) %>
  <p class='lead'>member since <%= @user.created_at %></p>

  <% if @registrations.any? %>
  <h3>Current and past registrations</h3>
    <% @registrations.each do |r| %>
      <h4><%= link_to(r.talk.title, r.talk) %> (registered <%= time_ago_in_words(r.created_at) %> ago)</h4>
    <% end %>
  <% end %>
  <h3>Talks <%= get_perspective(@user) %> enjoyed</h3>
  <% @liked_talks.each do |talk| %>
    <h4><%= link_to("#{talk.title}", talk_path(talk))%> by <%= "#{talk.speaker}" %></h4>
  <% end %>
  <% if current_user?(@user) %>
  <%= link_to('Edit your account settings', edit_user_path) %> |
  <%= link_to('Delete your account', user_path, method: :delete, data: { confirm: 'Are you sure you want to delete your account? Note: this is a permanent action that will also delete any talks you\'ve registered for. Click \'OK\' to confirm or \'Cancel\' to go back.'}) %>
  <% end %>
</div>
