<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <%= image_tag "hacker_talks-logo.png" %>
    </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class='container'>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Developer resources", resources_path %></li>
        <% if current_user %>
        <li><div class= 'user_nav_image' ></div><%= link_to profile_image_for(current_user), current_user %></li>
        <li><%= link_to "Sign out", session_path, :method => :delete %></li>
        <% else %>
        <li><%= link_to "Sign up", new_user_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
